<div id="loginBody">
  <p>
    This is a Dummy-Website created by me with an intention of testing my
    combinative and practical knowlege of
    <strong
      >Angular, HTML5, CSS3, TypeScript , Java, Hibernate, SpringBoot</strong
    >
    and <strong>Intellij</strong>.
  </p>
  <p><strong>What is the intention of this site?</strong></p>
  <p>
    Dienstleistung is a dummy website that allows users to post their jobs and
    to request the job .
  </p>
  <p><strong>How does this site work?</strong></p>
  <ul>
    <li>
      First you have to create an account by clicking
      <strong>Create New Account</strong> where every feild in the form has to
      be filled.The password must be atleast 8 characters long and email should
      be valid. The email adderss should be unique.
    </li>

    <li>
      Enter your email and password and click <strong>Log In</strong>. You will
      be redirected into home.
    </li>
    <li>
      Now you can add the service by clicking
      <strong>"Dienst Erstellen"</strong> where u have to fill the input feild
      of the form that will be displayed.The price should contain only numbers
      and it will be displayed as Euro.
    </li>
    <li>
      After adding service in your account, u can now click
      <strong>"Meine Dienst"</strong> where u can see all the services that you
      have added. Now you can <strong>update</strong>,
      <strong>delete </strong> or <strong>share </strong> with the other users
      if u want.
    </li>
    <li>
      Based on share and unshare you can see the services that are shared by
      you.
    </li>
    <li>
      You can click the <strong>notification</strong> inorder to see the request
      from other user who is interested in the service you have shared .
    </li>
    <li>
      Likewise, you can also see the books shared by other users in home. Just
      click the service you want to have and you will be redirected to the page
      where the information about the service and the user will be showed. If
      you are interested at that service you can click the
      <strong>Accept</strong> button and the user will be notified. If you are
      not interested at that service you can click the
      <strong>Unaccept</strong> button. Further more, you can see the email of
      that person and if you click , email app will be opened with already
      filled email subject and salutation. Further more you can delete your
      account and upate your information change your password and logout.
    </li>
  </ul>
  <p><strong>Is this the best version of this site?</strong></p>
  <p>
    Definitely not. There are sitll many thing which can be improved on each
    step while using the site.Some of them are:
  </p>
  <ul>
    <ul>
      <li>Proper utilization of toastr at appropriate events</li>
      <li>Making the site responsive according to the size of browser</li>
      <li>
        Adding cancelation button for the accidential clicking of certain
        buttons.
      </li>
      <li>
        Allowing the users to communicate from within the site rather than using
        email.
      </li>
    </ul>
  </ul>
  <p>&nbsp;</p>
  <ul>
    Still there are many improvements that can be done in both backend and
    frontend, which will be continuously improved.
  </ul>
  <p>&nbsp;</p>
  <p>
    This site is launched with the help of https://dashboard.heroku.com/apps
    which is deployed through my git-repository
    (https://github.com/dikshyantacharya/diesntleistung/tree/main).
  </p>
  <span><strong>Dikshyant Acharya</strong></span> <br />
  <span>dikshyantacharya@gmail.com</span>
</div>
