.col {
  display: flex;
  flex: 1;
}

.col div {
  flex: 1
}

.mat-container {
  margin: 15px;
}

.example-card {
  max-width: 100%;
  box-shadow: 10px 20px 15px silver;
  margin: 10px;
  font-family: Roboto, serif;
}

.mat-title {
  font-weight: bold;
  font-size: 200%;
}

.column-sm-1 {
  float: left;
  width: 23%;
}

.card {
  width: 50rem;
}

.dienstButton{
  background-color: #36A420;
  float: right;
  margin-right: 10px;
}
